# common
.classpath
.project
.settings
.svn
_impl
_release
_repo
_tmp
zfgensrc_*

# Android
**/Android/**/*.iml
**/Android/**/.externalNativeBuild
**/Android/**/.gradle
**/Android/**/.idea
**/Android/**/build
**/Android/**/captures
**/Android/**/local.properties
**/Android/**/src/main/assets

# iOS
*xcuserdata*
.DS_Store

# Qt
**/Qt/**/build
**/Qt/**/build-*
*.pro.user

# Windows
**/zfproj/cmake/**/out
**/zfproj_with_src/cmake/**/out
*.ncb
*.suo
*.vcproj.*.user
.vs

