<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="{ZFTT_R_proj_name}"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.ZFFramework.Android.{ZFTT_R_proj_name}.Loader"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ZFFramework.Android.ZF_impl.ZFMainEntry"
            android:label="ZFFramework"
            android:launchMode="singleTask" />
        <activity
            android:name="com.ZFFramework.Android.ZFUIKit_impl.ZFUISysWindow"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="ZFFramework"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>

